h1 {
	font-family: 'Source Sans Pro', sans-serif;
}

p {
	font-family: 'franklin-gothic-urw', sans-serif;
	font-weight: 400;
	font-style: normal;
}

/* Instructions */
.instructions{
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	transition: height 0.5s;
	-webkit-transition: height 0.5s;
}

.green{
	color: #28a745;
}

/* Navbar */
.nav-item a{
	color: #000 !important;
}


/* Console Sidebar - slides out */
.sideConsole {
	height: 100%;
/*	width: 0;*/
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #252729;
	white-space: nowrap;
	transition: 0.5s;
	color: #fff;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 12px;
}

#consoleIcon {
	position: relative;
	top: 21px;
	left: 21px;
	color: #fff !important;
}

.consoleHeader {
	background-color: #353739;
	height: 71px; /*45px logo + 5*2px brand padding + 8*2px navbar padding */
	margin-left: -71px
}

.consoleOutput {
	padding-left: 15px;
	padding-right: 15px;
	height: 80%;
	overflow: auto;
}

.consoleForm {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
}

.consoleForm input, 
.consoleForm textarea, 
.consoleForm .form-control:focus {
	color: #fff;
	background-color: #252729;
}

#consoleInput {
	width: 80%;
}